::-webkit-scrollbar {
    display: none;
}



@font-face {
font-family: "circular";
src: url("circular.ttf");
}

body{
  overflow-x: hidden;
  font-family: circular !important;
}

nav{
  /* background-color: red; */
  text-align: right;
  /* position: fixed; */
}

nav > a {
  color: #868686;
  font-size: 17px;
  padding: 20px;
  display: inline-block;
  transition: color .3s linear;
}

nav >  #active{
    color:black;
}

nav > a:hover{
  color: black;
}


a{
  text-decoration: none;
  font-weight: bold;
  /* color:  #999; */
  color:black;
}



.text-wrapper{
  /* border: solid 2px red; */
  position: absolute;
  width: 505px;
  height: 192px;
  left: 10%;
  top:200px;
}


.description{
  font-weight: bold;
  font-size: 45px;
  color: #000000;
}


.profile{
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 15%;

  background: url(img/IMG_0094.JPG);
  background-position: center;
  background-size: cover;
}


.button{
  position: absolute;
  text-align: center;
  width: 220px;
  height: 49px;
  color:#868686;

  background-color: #EBEBEB;
  transition: background-color .3s linear;
}

.button:hover{
  background-color: #e0e0e0;
}


.background{
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0px;

  z-index: -2;
  background: url(img/IMG_0411.JPG);
  background-position: center;
  background-size: cover;
}



.experience-header{
  /* border: solid 2px red; */
  width: 40px;
  position: relative;
  top: 100vh;
  left: 10%;

  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}


.experience-wrapper{
  box-sizing: border-box;
  /* border: solid 2px blue; */
  /* width: 100% !important; */
  margin-top: 100vh;
  /* border: solid 2px red; */
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.projects-header{
  /* border: solid 2px red; */
  position: relative;
  left: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  width: 40px;
}

.project-wrapper{

  /* margin-top: -5vh; */
  /* border: solid 2px red; */

  width: 100%;
  /* border: solid 2px red; */
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-name{
  font-size: 25px;
  line-height: 0;
}

.project{
  margin: 40px;

  display: flex;
  flex-direction: column;
}

.project-description{
  width: 500px;
}

.project-text{
  /* border: 2px red solid; */
  /* margin-top: 5px; */
}

.project-position{
  /* font-size: 14px; */
  font-weight: bold;
  color: #999;
  display: flex;
  /* border: solid 2px red; */
  justify-content: space-between;
  line-height: 0!important;
  width: 100%;
  margin:0 !important;
}


.learn-more:hover {
  text-decoration: underline;
}

.project > img{
  width: 500px;
  /* height: 300px; */
  /* height: 300px; */
  box-shadow: 0px 0px 42px 0px rgba(179,179,179,1);

}


#hack-club{
  color: #E42D42;
}





/* Footer */

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

footer #icons{
  justify-content: center;
  /* border: solid 2px red; */
  display: flex;
  padding: 0px 0 20px 0;
}

footer #icons a{
  transition: 0.2s;
}

footer #icons:hover > a {
  opacity: 0.5;
}

footer #icons:hover > a:hover {
  opacity: 1.0;
}

footer img{
  padding: 0 5px;
  height: 30px;
}




/* About Page  */
.about-me-wrapper{
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  margin-left: 10%;
  margin-top:5%;
  /* border: solid 2px green;
  box-sizing: border-box; */
}

.about-me-text{
  line-height: 1.5;

  left:0;
  width: 50%;
  /* border: solid 2px red; */
  box-sizing: border-box;
 /* height: 100vh; */

}

.about-me-profile{
  display: flex;
  /* Vertical Alignment */
  align-items: center;
  justify-content: center;
  right: 0;
  width: 50%;

  box-sizing: border-box;
  border: solid 2px blue;
}

.about-me-profile >  #pic{
  max-height: 400px;
}

@media only screen and (max-width: 1000px) {
  /* About Me Page */
  .about-me-wrapper{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .about-me-text{
    width: 100%;
  }

  .about-me-profile{
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {

  /* svg{
    border: solid 2px red;
  } */

  .name{
    margin-top:40%;
    text-align: left;
    margin-left: 0;
    width: 160%;
    /* display: none; */
  }

  .description{
    margin-top:0px;
    font-size:40px;
  }

  .button{
    margin-top: 20%;
  }

  .background{
    display: none;
  }
  /* .text-wrapper, .profile, .background{
    display: none;
  } */

  .profile{
    display: none;
  }

  .text-wrapper{
    /* top:40%; */
    top:10%;
    width:200px;
  }

  .experience-header{
    margin-top: 0px;
  }

  .experience-wrapper, .project-wrapper{
    flex-direction: column;
  }


  .project{
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
  }


  .project-position{
    flex-direction: column;
  }

  .project-description{
    /* width: 500px; */
    width: 80%;
    margin: auto;
  }

  /* .project-name{
    font-size: 20px;
  } */

  .project > img{
    /* width: 500px; */
    width: 80%;

    height: auto;
    margin: auto;
  }
}
